
@{
    ViewData["Title"] = "Contactus";
}

<h1>Contactus</h1>
 <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">NAME</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="enter the NAME">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">MESSAGE</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="enter the MESSAGE">
        </div>
        <div class="mb-3">
            <button type="button" class="btn btn-success">SUBMIT</button>
        </div>

